@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style:none;
  text-decoration: none;
}

body {
    line-height:1.5;
    font-family: 'Poppins', sans-serif;
    height:100vh;
    background:url(images/oboi.jpg) no-repeat;
    background-size:100% 100%;
    background-position: center;
    background-attachment:fixed;
}



#slider{
position:relative;
text-align:center;
top:10 px;
margin: 0 auto;                        
}

#slides article{
width:20%;
float:left;
}

#slides .image{
width:50%;
line-height:0;
}

#overflow{
width:100%;
overflow:hidden;
}

article img{
width:100%;
}

#desktop:checked ~ #slider{
max-width:960px;
}



#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;

}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width:620px;
        height:400px;
        border-radius:5%;
}


/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('images/prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
        background-color: Indigo;
        border-radius:50%;
	margin: 0 0 0 -84px; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('images/next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
        background-color: Indigo;
        border-radius:50%;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}











.ssilki{
text-indent:0px;
color:blue;
font-size:20px;
}

h2{
    font-size:20px;
    text-align:center;
    color:navy;
}
h3{
    font-size:20px;
    text-align:center;
    color:navy;
}

h4{
   text-align:center;
   color:blue;
   font-size:19px;
}
.rost{
    float:right; 
    padding-left: 10px; 
    padding-bottom: 10px;
    padding: 10px;
    width:160px;
}

.heart{
    float:left; 
    padding-left: 10px; 
    padding-bottom: 10px;
    padding: 10px;
    width:370px;
}

.temp{
    float: right; 
    padding-left: 10px; 
    padding-bottom: 10px;
    padding: 10px;
    width:330px;
}

.rad{
    float: left; 
    padding-left: 10px; 
    padding-bottom: 10px;
    padding: 10px;
    width:200px;
}

span{
color: red;
}  
  
.title{
    color:purple;
    text-align:center;
}                              
     mark{
  background-color:RosyBrown;
}


table{
  font-family:sans-serif;
  text-align:center;
  border-collapse: separete;
  border-spacing: 5px;
  background: MediumPurple;
  border: 16px solid MediumPurple;
  border-radius: 20px;
  color:white;
  font-size:18px;
}
  
.tab{
  text-align:left;  
}

th{
  font-size: 18px;
  padding: 10px;

}
td{
  background: Lavender;
  padding: 10px;
  color:#656665;
}
                      
.graf{
     border-radius:16px;
}

.rab{
    text-align:justify;
    padding:10px;
    margin:5px;
    font-size: 20px;
    margin: 0 0 0.75em 0;
    border: 7px solid;
    border-image-source: linear-gradient(-45deg, #fc1ba6, #0000CD);
    border-image-slice:1;
}

.kor{
    text-indent:0px;
    margin-bottom:-5px; 
}

.kor1{
    text-indent:0px;
    margin-bottom:-15px; 
}

.vid{
text-indent: 40px;
font-size: 20px;
}
.vid li{
color:red;

}
  
vid li::marker{
color:green;
content:'po';
}  
.vid li ol li{
padding-left:60px;

}





p{
    font-size:20px;   
    text-indent: 40px;
    padding:10px;
    margin:5px;
    text-align:justify;
}

.test{
   text-align:left;
   text-indent: 40px;
   font-size:20px;
   padding:5px;
   margin:5px;

}

header{
   position:sticky;
z-index: 100;
   top:0;
   background:Thistle;
   display: flex;
   justify-content:space-between;
   align-items: center;
   padding: 0 8%;
   box-shadow: 0 5px 10px #000;
}

header .logo{
   font-size:20px;
   font-weight:900;
   color:#000;
   transition: .5s;
}

header .logo:hover{
  transform: scale(1.2);
}

header nav ul li{
   position:relative;
   float:left;
}

header nav ul li a{
    padding:15px;
    color:#000;
    font-size:16px;
    display:block;
}

header nav ul li a:hover{
     background:#000;
     color:#fff;
}

nav ul li ul {
     position:absolute;
     left:0;
     width:100%;
     display:none;
 background:#fff;
}

nav ul li ul li {
     width:100%;
     border: 1px solid rgba(0,0,0,.1);
}

nav ul li:hover>ul{
    display:initial;
}

.container{
     max-width:1170px;
     margin:auto;
}

.row{
     display:flex;
     flex-wrap:wrap;
}


.footer{
     background-color:black;
     padding: 50px 0;
}

.footer-col{
     width:33%;
     padding:0 30px;
}

.footer-col h4{
    font-size:18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position:relative;
    text-align:left;
}

.footer-col h4::before{
    content:'';
    position:absolute;
    left:0;
    bottom:-10px;
    background-color:#e91e63;
    height: 3px;
    box-sizing: border-box;
    width:70px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size:16px;
    text-transform:capitalize;
    color:#ffffff;
    text-decoration:none;
    font-weight:300;
    color:#bbbbbb;
    display:block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color:#ffffff;
    padding-left:8px;
}

.footer-col .social-links a{ 
    display: inline-block;
    height:50px;
    width:50px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height:50px;
    border-radius:60%;
    font-size:25px;
    color:#ffffff;
    transition: all 0.4s ease;
}

.footer-col .social-links a:hover{ 
    color: #24262b;
    background-color:#ffffff;
}

.footer-col .into{
    position:relative;
}


.footer-col .into li{
   display:flex;
   margin-bottom:16px;
}


.footer-col .into li span:nth-child(1){
   color:#fff;
   font-size:20px;
   margin-right:10px;
}




@media(max-width:767px){
  .footer-col{
    width:50%;
    margin-bottom:30px;
}
}

@media(max-width:574px){
  .footer-col{
    width:100%;
}
}